<% var title = 'Authentication Example' %>
<% var links = ['/css/login.css'] %>

<% include ../head %>

<% if (error && error.length) { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">  
            <form role="form" class="form-content" name="user" method="post" action="/login">
                
                <h2>Please sign in</h2>
                
                <input class="form-control" type="text" name="email" 
                autocomplete='off' placeholder="Email address" required autofocus>
    
                <input class="form-control" type="password" name="password"
                placeholder="Password" required>
  
                <label class="checkbox" for='remember_me'>
                    <input id="remember_me" name='remember_me' type="checkbox" value="remember-me">
                    Remember me
                </label>
   
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="panel-footer">
            <div class="form-content">
                <span class="help-block">
                   Not a member? <a href="/register" class="button">Register now »</a>
                </span>
            </div>
        </div>
    </div>
</div>
<% include ../foot %>  
