<% var title = 'Register'; %>

<% include ../head %>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" name="user" method="post" action="/register">
                <h2>Register Now</h2>

                <label for="name-input">Full name</label>
                <input id="name-input" class="form-control" type="text" name="name-input"
                autocomplete='off' required autofocus>

                <label for="email-input">Email address</label>
                <input id="email-input" class="form-control" type="text" name="email-input"
                autocomplete='off' required>

                <label for="password-input">Create a password</label>
                <input id="password-input" class="form-control" type="password" name="password-input"
                placeholder="Password" required>

                <label class="checkbox" for='remember_me'>
                    <input id="remember_me" name='remember_me' type="checkbox" value="remember-me">
                    Remember me
                </label>

                <button class="btn btn-lg btn-warning btn-block" type="submit">Create my account</button>
            </form>
        </div>
    </div>
</div>

<% include ../foot %>
